* linguist-vendored

# Source files
# ============
*.Rdata linguist-detectable  
*.RData linguist-detectable  
*.rda   linguist-detectable  
*.rdb   linguist-detectable  
*.rds   linguist-detectable  
*.Rd    linguist-detectable  
*.Rdx   linguist-detectable  
*.Rmd	  linguist-detectable  
*.R  	  linguist-detectable  
*.Rproj linguist-detectable  
*.[Rr]md   linguist-detectable 

